<h4>Educacion</h4>
<a href="#modal" (click)="switchange($event)" *ngIf="onSession && !editState[0]" class="btn shadow btn-success text-white rounded-pill mx-4 text-center">Añadir</a>
<button (click)="switchange($event)" *ngIf="onSession && editState[0]" class="btn shadow btn-success disabled text-white rounded-pill mx-4 text-center">Añadir</button>
<div *ngIf="switcher || editState[0]">
    <app-modal [info]="educacion" [editMode]="editState" (closeEdit)="closeEditMode()" (switch)="switchange($event)" (infoModalEdit)="editar($event)" (infoModal)="crear($event)"></app-modal>
</div>
<section class="container-fluid d-flex justify-content-center text-start fw-light">
    <div class="card mb-3 bg-primary border-0" style="max-width: 940px;">
        <div *ngFor="let ed of educacion" class="row g-0 m-4">
            <div class="col-2">
                <img src="{{ed.logo}}" class="img-fluid rounded" alt="Logo-Instituto">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">{{ed.nombre}}</h5>
                    <p class="card-text">{{ed.titulo}}</p>
                    <div>
                        <span class="card-text"><small class="text-muted">{{ed.anioIngreso}}</small></span>
                        <span><small class="text-muted"> - </small></span>
                        <span class="card-text"><small class="text-muted">{{ed.anioEgreso}}</small></span>
                        <p *ngIf="ed.completo"><i class="bi bi-check2-circle"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div *ngIf="onSession" class="d-flex justify-content-center align-items-center">
                    <a href="#modal" (click)="eliminar(ed.id)" class="btn text-white btn-circle2 m-1 text-center px-2 bg-danger btn-login user-select-none"><i class="bi bi-trash"></i></a>
                    <a href="#modal" (click)="editChange(ed.id)" class="btn text-white btn-circle2 m-1 text-center px-2 bg-success btn-login user-select-none"><i class="bi bi-pencil-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>