<header class="p-1 bg-primary container-fluid fw-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-lg-flex flex-lg-nowrap justify-content-lg-between">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" class="d-flex align-items-center mb-2 mb-lg-0 text-white t-w-h text-decoration-none" target="_blank">
                <img src="../../../assets/logoArgentinaPrograma.svg" width="40" height="32" alt="logo-argentina-programa">
                <p class="text-center m-0 px-1"><span class="fs-6">Argentina Programa</span></p>
            </a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-circle btn-secondary navbar-toggler rounded-circle text-white py-2 px-0 px-lg-3 fs-4"><i class="bi bi-list"></i></button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav align-items-center" style="--bs-scroll-height: 100px;">
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-twitter"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-facebook"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-linkedin"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-youtube"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-github"></i></a></li>
                    <div *ngIf="!onSession">
                        <button routerLink="/login" type="button" class="btn user-select-none btn-secondary btn-login rounded-pill mx-4 text-center" style="width: 5rem;">Login</button>
                    </div>
                    <div *ngIf="onSession">
                        <button (click)="logout()" type="button" class="btn user-select-none btn-danger btn-login rounded-pill mx-4 text-center" style="width: 5rem;"><span class="text-white t-w-h">Logout</span></button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <app-terminal [onSession]="onSession" [background]="miPortafolio.ftoPortada"></app-terminal>
    <div class="d-lg-flex justify-content-lg-around align-items-center text-white text-center position">
        <div class="m-4 px-2 pt-4 ">
            <img class="rounded-circle perfil-img " src={{miPortafolio.ftoPerfil}} alt="foto-perfil">
            <div *ngIf="onSession" class="d-flex justify-content-center align-items-center">
                <div class="btn text-white btn-circle2 m-1 text-center px-2 bg-success btn-login user-select-none"><i class="bi bi-pencil-square"></i></div>

            </div>
            <div>
                <div>{{miPortafolio.nombre}}</div>
                <div *ngIf="onSession" class="d-flex justify-content-center align-items-center">
                    <div class="btn text-white btn-circle2 m-1 text-center px-2 bg-success btn-login user-select-none" (click)="modalService.openModal()"><i class="bi bi-pencil-square"></i></div>
                    <div *ngIf="modalService.modalSwitch == true">
                        <app-modal [valor]="miPortafolio.nombre" [modalController]="modalService"></app-modal>
                    </div>
                </div>
            </div>
            <div>
                <div>{{miPortafolio.titulo}}</div>
                <div *ngIf="onSession" class="d-flex justify-content-center align-items-center">

                    <div class="btn text-white btn-circle2 m-1 text-center px-2 bg-success btn-login user-select-none"><i class="bi bi-pencil-square"></i></div>
                </div>
            </div>

        </div>
        <div class="mt-lg-4 px-2 pt-lg-4">
            <div><span>{{miPortafolio.infoPersona}}</span></div>
            <div *ngIf="onSession" class="d-flex justify-content-center align-items-center">
                <div class="btn text-white btn-circle2 m-1 text-center px-2 bg-success btn-login user-select-none"><i class="bi bi-pencil-square"></i></div>
            </div>
        </div>
    </div>
</header>