<header class="p-1 bg-primary container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-lg-flex flex-lg-nowrap justify-content-lg-between">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" class="d-flex align-items-center mb-2 mb-lg-0 text-white t-w-h text-decoration-none" target="_blank">
                <img src="../../../assets/logoArgentinaPrograma.svg" width="40" height="32" alt="logo-argentina-programa">
                <p class="text-center m-0 px-1">Argentina Programa</p>
            </a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-circle btn-secondary navbar-toggler rounded-circle text-white py-2 px-0 px-lg-3 fs-4"><i class="bi bi-list"></i></button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav align-items-center" style="--bs-scroll-height: 100px;">
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-twitter"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-facebook"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-linkedin"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-youtube"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white t-w-h py-2 px-0 px-lg-3 fs-5"><i class="bi bi-github"></i></a></li>
                    <div type="button" class="btn-sm user-select-none btn-secondary btn-login rounded-pill mx-4 text-center" style="width: 5rem;"><span class="px-2 text-white t-w-h">Login</span></div>
                </ul>
            </div>
        </div>
    </nav>
    <app-terminal></app-terminal>
    <div class="d-lg-flex justify-content-lg-around text-white text-center">
        <div class="m-4 px-2 pt-4 position-relative ">
            <img class="rounded-circle perfil-img translate-middle " src="../../../assets/1625796078108.jpg" alt="foto-perfil">
            <span>Oscar Vargas <br> Fullstack Developer JR</span>
        </div>
        <div class="mt-lg-4 px-2 pt-lg-4">
            <span>Soy un programador <br> motivado por el balance entre diseño y funcionalidad</span>
        </div>
    </div>
</header>