.btn-circle2 {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    -webkit-box-shadow: 5px 5px 6px 0px #333333;
    box-shadow: 5px 5px 6px 0px #333333;
}

.perfil-img {
    position: absolute;
    max-width: 3rem;
    max-height: 3rem;
    top: -2.7rem;
}