<div class="bg-primary abs-center mx-auto my-2 " id="modal">
    <div class="dialog p-3" role="document">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <div class="content">
                <div class="header m-2">
                    <h5 class="title"></h5>
                </div>
                <div *ngFor="let i of info[0] | keyvalue; let indice = index" class="body m-2">

                    <div *ngIf="!editMode[0]" class="form-group">
                        <label *ngIf="i.key != claveID" for="message-text" class="col-form-label">{{i.key}}</label>
                        <input *ngIf="i.key != claveID" id="{{i.key}}" formControlName="{{i.key}}" placeholder="{{i.value}}" type="text" class="form-control text-center">
                    </div>

                    <div *ngIf="editMode[0]" class="form-group">
                        <label *ngIf="i.key != claveID" for="message-text" class="col-form-label">{{i.key}}</label>
                        <input *ngIf="i.key != claveID" id="{{i.key}}" formControlName="{{i.key}}" placeholder="" type="text" class="form-control text-center">
                    </div>

                </div>
                <div class="footer m-2">
                    <button *ngIf="!editMode[0]" type="button" class="btn btn-secondary m-2" (click)="closeModal()">Cancelar</button>
                    <button *ngIf="editMode[0]" type="button" class="btn btn-secondary m-2" (click)="closeEditMode()">Cancelar</button>
                    <button *ngIf="!editMode[0]" type="submit" class="btn btn-primary m-2 btn-success text-white">Añadir</button>
                    <button *ngIf="editMode[0]" type="submit" class="btn btn-primary m-2 btn-success text-white">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>