<div class="d-flex container-fluid justify-content-center user-select-none">
    <div class="terminal bg-black">
        <div class="d-flex justify-content-start mx-4 px-4 terminal-circle bg-dark align-items-center">
            <i class="bi bi-x-circle-fill text-danger mx-2"></i>
            <i class="bi bi-dash-circle-fill text-success mx-2"></i>
            <i class="bi bi-plus-circle-fill text-white mx-2"></i>
        </div>
        <div class="terminal-img mx-auto"><img class="img-fluid" src="https://www.teahub.io/photos/full/208-2081147_fondos-de-pantalla-full-hd-colores.jpg" alt=""></div>
        <div class="terminal-text"><span class="text-success">C:\Argentina-Programa\Portafolio></span>{{text}}<span class="blinking-cursor">_</span></div>
    </div>
</div>