@import url('http://fonts.cdnfonts.com/css/lucida-console');
* {
    font-family: 'Lucida Console', sans-serif;
}

.terminal {
    position: relative;
    width: 90%;
    max-width: 992px;
    height: 20rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    box-shadow: -1px 2px 12px 4px rgba(51, 51, 51, 0.79);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(51, 51, 51, 0.79);
    -moz-box-shadow: -1px 2px 12px 4px rgba(51, 51, 51, 0.79);
}

.terminal-circle {
    position: absolute;
    top: 0;
    left: -1.5rem;
    height: 4px;
    width: 100%;
    font-size: 1.3rem;
    line-height: 0;
    padding: 2rem;
    text-indent: 4px;
}

.terminal-text {
    color: #ffffff;
    position: relative;
    top: 4rem;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cOVER;
    opacity: 1;
}

.terminal-img {
    position: absolute;
    top: 4rem;
    opacity: 0.2;
}

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@media screen and (max-width: 767px) {
    .terminal {
        width: 100%;
    }
}